.backToTopButton {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: inherit;
  right: 2%;
  bottom: 2%;
  font-size: 3rem;
  z-index: 100;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: white;
  border-radius: 50%;
}
