.servicesInfo-container {
  /* padding-right: 15rem; */
}

.servicesInfoPanel {
  display: flex;
  flex-direction: row-reverse;
}

.home_services-side-cards {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.home_services-side-card {
  width: 6rem;
  height: 7.5rem;
  position: relative;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255);
  box-shadow: var(--box-shadow);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_services-side-card:hover {
  box-shadow: var(--secondary-box-shadow);
  border: 3px solid var(--secondary-color);
}

.complete-services-info {
  padding: 4rem 12rem 5rem 10rem;
}
.home_services-side-card img {
  width: 2rem;
}
.home_services-side-card ul {
  list-style: none;
}
.home_services-side-card a {
  text-decoration: none;
  color: var(--primary-color);
}

.servicesInfo-container hr {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  opacity: unset;
  width: 70%;
}
.servicesImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.servicesImages-text {
  flex: 1;
  position: relative;
}
.corner-rectangle {
  position: absolute;
  top: -10px;
  left: -10px;
}
.servicesImages-sub_text {
  color: var(--secondary-color);
  font-size: 1.4rem;
}
.servicesImages-gallery {
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 2rem;
  flex: 1;
}

.servicesImages-gallery-img {
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.6s ease-out;
}

.servicesImages-gallery-img::before {
  opacity: 1;
}
.servicesImages-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--secondary-box-shadow);
  position: absolute;
  top: 0;
  left: 0;
}

.servicesImages-gallery-img .servicesImages-gallery-caption {
  opacity: 1;
  transform: translateY(0);
  color: white;
  z-index: 10;
  font-weight: bold;
  margin: 5px auto;
  padding: 6px 2px;
  text-align: center;
}
.servicesImages-gallery-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  border-radius: 10px;
  z-index: 1;
  opacity: 1;
}

.servicesImages-gallery1 {
  grid-area: 1 / 1 / 2 / 3;
}
.servicesImages-gallery2 {
  grid-area: 1 / 3 / 2 / 4;
}
.servicesImages-gallery3 {
  grid-area: 1 / 4 / 2 / 5;
}
.servicesImages-gallery4 {
  grid-area: 2 / 1 / 3 / 3;
}
.servicesImages-gallery5 {
  grid-area: 2 / 3 / 3 / 5;
}
.servicesImages-gallery6 {
  grid-area: 3 / 1 / 4 / 2;
}
.servicesImages-gallery7 {
  grid-area: 3 / 2 / 4 / 3;
}
.servicesImages-gallery8 {
  grid-area: 3 / 3 / 4 / 5;
}
.servicesImages-gallery-caption {
  color: white;
}

.servicesVideo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

.servicesVideo-text {
  position: relative;
}
.servicesVideo-player img {
  width: 80%;
}
.services-vid-dotted-bg {
  margin-top: 5px;
  width: 35%;
}
@media screen and (max-width: 1200px) {
  .complete-services-info {
    padding: 4rem 9rem 2rem 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .complete-services-info {
    padding: 4rem 4rem 2rem 5rem;
  }
  .home_services-side-cards {
    display: none;
  }
  .corner-rectangle {
    display: none;
  }
  .servicesInfo-container {
    padding-right: 0rem;
  }
  .servicesImages-gallery {
    width: 100%;
    height: 30rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .servicesImages {
    flex-direction: column;
    align-items: flex-start;
  }
  .servicesImages-gallery1 {
    grid-area: 1 / 1 / 2 / 4;
  }
  .servicesImages-gallery2 {
    grid-area: 1 / 4 / 2 / 6;
  }
  .servicesImages-gallery3 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .servicesImages-gallery4 {
    grid-area: 2 / 3 / 3 / 6;
  }
  .servicesImages-gallery5 {
    grid-area: 3 / 1 / 4 / 4;
  }
  .servicesImages-gallery6 {
    grid-area: 3 / 4 / 4 / 6;
  }
  .servicesImages-gallery7 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .servicesImages-gallery8 {
    grid-area: 4 / 3 / 5 / 6;
  }
  .servicesImages-gallery-img {
    height: 6rem;
  }

  .servicesVideo {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .servicesVideo-player img {
    margin-top: 2rem;
    width: 100%;
  }
  .services-vid-dotted-bg {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .servicesVideo {
    margin-top: 5rem;
  }
  .complete-services-info {
    padding: 2rem;
  }
}
