.servicesInfo-container {
  /* padding-right: 15rem; */
}
#home_service_card-1,
#home_service_card-2,
#home_service_card-3,
#home_service_card-4 {
  padding-top: 3rem;
}
.services-details {
  padding: 0 15rem;
}
.servicesInfoPanel {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}

.home_services-side-cards {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
.home_services-side-card {
  width: 6rem;
  height: 7.5rem;
  position: relative;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255);
  box-shadow: var(--box-shadow);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_services-side-card:hover {
  box-shadow: var(--secondary-box-shadow);
  border: 3px solid var(--secondary-color);
}

.complete-services-info {
  padding: 4rem 15rem 5rem 10rem;
}
.home_services-side-card img {
  width: 2rem;
}
.home_services-side-card ul {
  list-style: none;
}
.home_services-side-card a {
  text-decoration: none;
  color: var(--primary-color);
}

.servicesInfo-container hr {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  opacity: unset;
  width: 70%;
}
.servicesImages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5rem;
}
.servicesImages-text {
  flex: 1;
  position: relative;
}
.corner-rectangle {
  position: absolute;
  top: -10px;
  left: -10px;
}
.servicesImages-sub_text {
  color: var(--secondary-color);
  font-size: 1.4rem;
}

.servicesBenefits-slider1 {
  max-width: 80vw;
  /* height: 30rem; */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; */
  margin-top: 2rem;
  flex: 1;
}
.servicesImages-gallery {
  display: flex;
}

.servicesBenefits-gallery-block-2 {
  margin-top: 2rem;
  display: flex;
}
.servicesBenefits-gallery-block-2 .gallery-dotted-bg {
  width: 24rem;
  transform: translateX(-50%);
}
.servicesBenefits-slider2 {
  z-index: 10;
  max-width: 50vw;
  margin-left: -12rem;
}
/* .gallery-slider-mobile {
  display: none;
} */

.servicesImages-gallery-img {
  height: 10rem;
  position: relative;
  display: flex !important;
  align-items: flex-end;
  transition: 0.6s ease-out;
}

.servicesImages-gallery-img::before {
  opacity: 1;
}
.servicesImages-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--secondary-box-shadow);
  position: absolute;
  top: 0;
  left: 0;
}

.servicesImages-gallery-img .servicesImages-gallery-caption {
  opacity: 1;
  transform: translateY(0);
  color: white;
  z-index: 10;
  font-weight: bold;
  margin: 5px auto;
  padding: 6px 2px;
  text-align: center;
}
.servicesImages-gallery-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  border-radius: 10px;
  z-index: 1;
  opacity: 1;
}

.servicesImages-gallery-caption {
  color: white;
}

.carousel-services-gallery-mobile {
  display: flex;
  flex-wrap: wrap;
}
.carousel-services-gallery-mobile .servicesImages-gallery-img {
  width: 5rem;
  height: 5rem;
}
.servicesVideo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

.servicesVideo-text {
  position: relative;
}
.servicesVideo-player img {
  width: 80%;
}
.services-vid-dotted-bg {
  margin-top: 5px;
  width: 35%;
}
@media screen and (max-width: 1200px) {
  .complete-services-info {
    padding: 4rem 9rem 2rem 5rem;
  }
  .services-details {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 1000px) {
  #home_service_card-1,
  #home_service_card-2,
  #home_service_card-3,
  #home_service_card-4 {
    padding-top: 0rem;
  }
  /* .gallery-slider-mobile {
    display: block;
  }
  .gallery-slider-desktop {
    display: none;
  } */
  .services-details {
    padding: 0 6rem;
  }
  .servicesBenefits-slider2 {
    margin-left: 0;
    max-width: 80vw;
  }
  .complete-services-info {
    padding: 4rem 4rem 2rem 5rem;
  }
  .home_services-side-cards {
    display: none;
  }
  .corner-rectangle {
    display: none;
  }
  .servicesInfo-container {
    padding-right: 0rem;
  }
  .servicesBenefits-gallery-block-2 .gallery-dotted-bg {
    display: none;
  }
  .servicesImages-gallery {
    /* width: 80vw; */
    /* height: 30rem; */
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr); */
  }
  .servicesImages {
    flex-direction: column;
    align-items: flex-start;
  }

  .servicesImages-gallery-img {
    height: 10rem;
  }

  .servicesVideo {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .servicesVideo-player img {
    margin-top: 2rem;
    width: 100%;
  }
  .services-vid-dotted-bg {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  /* .gallery-slider-mobile {
    display: block;
  } */
  /* .gallery-slider-desktop {
    display: none;
  } */
  .services-details {
    padding: 0 1rem;
  }
  .servicesVideo {
    margin-top: 5rem;
  }
  .complete-services-info {
    padding: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  .services-details {
    padding: 0 20rem;
  }
}
