.TechPartners {
  margin-top: 5rem;
}
.tech_partners-head {
  text-align: center;
  margin-bottom: 2rem;
}
.tech_partner-logo {
  max-width: 90%;
}

.tech_partner-logo img {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  outline: none;
}

@media screen and (max-width: 900px) {
}
