.productCategories a {
  text-decoration: none;
  color: var(--black);
}
.productCategories-hero {
  min-height: 80vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  position: relative;
  /* box-shadow: var(--box-shadow); */
}

.productCategories_light-red-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  /* box-shadow: var(--box-shadow); */
}
.productCategories-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.productCategories-left p {
  margin-bottom: 2rem;
}

.hero_productCategories_dotted-img {
  position: absolute;
  top: -5%;
  left: -50%;
  z-index: -1;
}

.productCategories-right {
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.productCategories-right li {
  list-style: none;
}
.productCategories-page-semi-circle {
  top: 0;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
}
.productCategories-cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.productCategories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 8rem;
  height: 8rem;
  position: relative;

  border-radius: 10px;

  padding: 0.5rem;
  text-align: center;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* box-shadow: var(--box-shadow); */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
  border-radius: 17px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s;
}
.productCategories-card:hover {
  box-shadow: var(--secondary-box-shadow);
  border: 3px solid var(--secondary-color);
}

.productCategories-card img {
  width: 3rem;
}
.productCategories-card-textInfo h5 {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 5px;
  line-height: 120%;
}
.productCategories-card-textInfo p {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 120%;
  margin-bottom: 0;
}
.product-info {
  margin-top: 5rem;
}
.product-desc-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7rem;
  margin: 4rem 4rem 0 4rem;
}
.product-desc-img img {
  width: 25rem;
}
.product-desc ul li {
  margin: 2rem;
}
.product-benefits {
  margin-top: 5rem;
}
.product-benefits-vid-desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 2rem 0rem;
}

.productCategories-benefits-vid img {
  width: 40rem;
}
.productCategories-benefits-desc ul li {
  margin: 1rem;
}
@media screen and (max-width: 900px) {
  .productCategories-page-semi-circle {
    display: none;
  }
  .productCategories-hero {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    /* z-index: -1; */
    margin-bottom: 2rem;
  }
  .hero_productCategories_dotted-img {
    display: none;
  }

  .productCategories-left {
    width: 100%;
    align-items: center;
  }
  .productCategories-left p {
    text-align: center;
  }

  .productCategories-left img {
    display: none;
  }

  .productCategories_light-red-bg {
    display: none;
  }
  .productCategories-right {
    align-items: center;
    margin-top: 2rem;
  }
  .productCategories-right ul {
    padding: 0;
  }
  .productCategories-card {
    width: 8rem;
    height: 9rem;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .productCategories-card:hover {
    box-shadow: var(--secondary-box-shadow);
  }
  .productCategories-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .productCategories-card h5 {
    font-size: 1rem;
  }
  .productCategories-card p {
    font-size: 0.8rem;
  }
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-info .p-text,
  .product-info .head-text {
    text-align: center;
  }
  .product-desc-img {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 3rem 0;
    gap: 3rem;
  }
  .product-desc-img img {
    width: 95%;
  }
  .product-desc ul li {
    margin: 1rem;
  }

  .product-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .product-benefits .head-text,
  .product-benefits .p-text {
    text-align: center;
  }
  .product-benefits-vid-desc {
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0rem;
  }

  .productCategories-benefits-vid img {
    width: 95%;
  }
  .productCategories-benefits-desc ul li {
    margin: 1rem;
  }
}
