@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --font-base: "Inter", sans-serif;
  --primary-color: #020202;
  --secondary-color: #ce3838;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --dark-gray-color: #6b7688;
  --grey-color: #d9d9d9;
  /* --brown-color: #46364a; */
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
